body{
    text-align: center;
}
h1{
    font-weight: normal;
}
h2{
    font-weight: normal;
}
table{
    margin: auto;
}
td{
    height: 80px;
    width: 80px;
    border: white;   
}
button{
    height: 80px;
    width: 80px;
    border: 5px solid black;
    background-color: gray;
    border-radius: 100%;
}
.container{
    height: 200px;
}